body { background: #e0cb70; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 28px; display: flex; }
.block-product-0 { color: #b34e7b; font-size: 20px; margin-bottom: 5px; }
.block-auth-1 { color: #5f57e0; font-size: 18px; margin-bottom: 5px; }
.block-logger-2 { color: #8a074e; font-size: 18px; margin-bottom: 5px; }
.block-product-3 { color: #8def8b; font-size: 18px; margin-bottom: 5px; }
.block-user-4 { color: #98933d; font-size: 15px; margin-bottom: 5px; }
.block-helper-5 { color: #c26aad; font-size: 19px; margin-bottom: 5px; }
.block-uploader-6 { color: #d17d86; font-size: 14px; margin-bottom: 5px; }